<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }} - Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Could you be a news editor?</h1>
            <p>Tool for journalists and editors - Helping them find related articles to their story</p>
        </div>
        <h2>Main article:</h2>

        <div class="main-article-item">
            <a href="https://tv2.no/a/{{ article.uuid }}" class="external-link-button">Visit original article on TV 2</a>
            <div class="main-article-content">
                <h1 class="main-article-title">{{ article.title }}</h1>
                <p class="article-byline">{{ article.byline | join(', ') }}</p>
                <p class="article-metadata">Published on {{ article.creation_date }} in {{ article.section }}</p>
                <img src="{{ article.image_url or 'https://via.placeholder.com/150' }}" alt="{{ article.title }}">
                <p class="article-lead-text">{{ article.lead_text }}</p>
                <div class="article-full-text">
                    <!-- Just showing the first 400 chars for now -->
                    {{ article.body_text[:400]+"..." | safe }} <a href="https://tv2.no/a/{{ article.uuid }}" target="_blank">Read more (opens in new tab)</a>
                </div>
            </div>
        </div>

        <div class="small-articles-section">
            <h2>AI Recommendations for Related Articles</h2>
            <p><i>Articles that were also picked by editors are highlighted in green</i></p>
            <ul class="small-articles">
                {% for rec in recommendations %}
                <li class="recommendation-item {% if rec.uuid in article.related_articles %}highlighted-recommendation{% else %}normal-recommendation{% endif %}">
                    <a href="{{ url_for('recommendation', article_id=article.uuid, recommendation_id=rec.uuid) }}" style="display: block; height: 100%; text-decoration: none;">
                        <img src="{{ rec.image_url or 'https://via.placeholder.com/150' }}" alt="No image">
                        <div class="recommendation-content">
                            <span class="recommendation-title">
                                {{ rec.title }}
                            </span>
                            <p class="recommendation-description">{{ rec.byline | join(', ') }}<br>{{rec.creation_date}}</p>
                            <p>KNN Similarity: {{ rec.recommendation_similarity }}%</p>
                            <p>LLM rating: {{ rec.recommendation_llm_rating }}/10</p>
                            <p class="recommendation-explanation" style="font-size: 15px;">{{ rec.recommendation_explanation }}</p>
                        </div>
                    </a>
                </li>
                {% else %}
                    <li>No recommendations available for this article.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="small-articles-section">
            <h2>Missed Articles</h2>
            <p><i>Articles that were marked as related by editors but not recommended by the AI</i></p>
            <ul class="small-articles">
                {% for missed in missed_articles %}
                <li class="recommendation-item missed-item">
                    <a href="https://tv2.no/a/{{ missed.uuid }}" style="display: block; height: 100%; text-decoration: none;">
                        <img src="{{ missed.image_url or 'https://via.placeholder.com/150' }}" alt="No image">
                        <div class="recommendation-content">
                            <span class="recommendation-title">
                                {{ missed.title }}
                            </span>
                            <p class="recommendation-description">{{ missed.byline | join(', ') }}<br>{{missed.creation_date}}</p>
                            <!-- <p>KNN Similarity: {{ missed.recommendation_similarity }}%</p> -->
                            <!-- <p>LLM rating: {{ missed.recommendation_llm_rating }}/10</p> -->
                            <!-- <p class="recommendation-explanation" style="font-size: 15px;">{{ missed.recommendation_explanation }}</p> -->
                        </div>
                    </a>
                </li>
                {% else %}
                    <li>No missed articles for this article.</li>
                {% endfor %}
            </ul>
        </div>

        <a href="{{ url_for('home') }}" class="back-link">Back to Home</a>
    </div>
</body>
</html>